<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dor.rubin.dorproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DorProject">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="fullSensor"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.DorProject.NoActionBar" />
        <activity
            android:name=".auth.AuthActivity"
            android:exported="false"

            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_auth"
            android:theme="@style/Theme.DorProject.NoActionBar" />
        <activity android:name="io.card.payment.CardIOActivity" android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DorProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>